#canvas1{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
}
div{
    /* border: 5px solid black; */
    position: absolute;
    top: 40%;
    left: 52.5%;
    transform: translate(-50%,-50%);
    width: 504px;
    height: 400px;
}
button{
    border: none;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
}